.mainContainer {
  height: 500px;
  width: 100%;
  border-radius: 40px;
}
.mainMap {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.imgContainer {
  background-color: rgb(230, 51, 51);
  padding: 10px;
  border-radius: 100%;
  z-index: 1000;
  width: fit-content;
}
.img {
  width: 30px;
  height: 30px;
  fill: white;
}
